*,
html{
    margin: 0;
    padding: 0;
}
.container {
}

.container-navbar {
    width: 100%;
    height: 15vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(1, 3, 5);
    font-size: 40px;
}
.li-navbar:hover{
    background-color: grey;
    transition: .5s ease-in-out;
    transition-delay: .3s ;
    border-radius: 8px;
}
.a-navbar{
    color:white;
    text-decoration: none;
}
.container-content{
    background-color:rgb(183, 178, 178);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.a-content {
    width: 480px;
    height: 360px;
    background-color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}
.img-content{
    width: 92px;
    height: 68px;
}
.p-content{
    text-decoration-line: none;
}
.h1-footer {
    font-size; 40px;
    color: white;
}
.container-footer{
    background-color: rgb(247, 51, 51);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#biodata{
    background-color: rgb(255, 0, 0);
    width: 50%;
    height: 50%;
}
